# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#window
ModelingProject1
Project1
Project1.*
*.mk


ipch
Debug
*.*.user
*.sdf
*.suo
*.opensdf
.*

#android
bin
libs
obj
